<div class="row" style="margin-top: 10px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Upload offer here</h4>
                <p class="sub-header">
                    Fill the fields with following the instructions
                </p>
                <form action="/admin/edit-offer/{{offer._id}}" method="post" enctype="multipart/form-data">

                    <div class="col-12 mt-3" style="border: 2px dotted #ccc; padding: 15px;">
                        <label for="fileInput" class="btn btn-primary d-block mx-auto">
                            <i class="fa-solid fa-file-arrow-up"></i>
                            <span>Choose File</span>
                            <input type="file" id="fileInput" style="display:none;" name="file" accept="image/*"
                                onchange="displayImage()" />
                        </label>
                        <p class="text-muted text-center mt-2 mb-0">Max File size</p>
                        <h3 class="text-center">Drop files here or click to upload.</h3>
                        <span class="text-muted font-13">(width: 1920 px, height: 900 px)</span>
                    </div>

                    <div id="imagePreview" class="text-center mt-3">
                        <!-- The selected image will be displayed here -->
                        <img style="height: 300px; " src="/uploads/{{offer.offerImage}}" alt="offImg">
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Short Description</label>
                        <textarea class="form-control" id="example-textarea" rows="3"
                            name="shortDescription">{{offer.shortDescription}}</textarea>
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Long Description</label>
                        <textarea class="form-control" id="example-textarea" rows="5"
                            name="longDescription">{{offer.longDescription}}</textarea>
                    </div>
                    <div class="" style="display: flex; justify-content: space-between; width: 100%;">
                        <div class="mb-3" style=" width: 100%; margin-right: 1px;">
                            <label for="example-number" class="form-label">Actual Price</label>
                            <input class="form-control" id="example-number" type="number" name="realPrice"
                                placeholder="Ex-2000" value="{{offer.realPrice}}" required>
                        </div>
                        <div class="mb-3" style=" width: 100%; margin-left: 1px;">
                            <label for="example-number" class="form-label">Offer Price</label>
                            <input class="form-control" id="example-number" type="number" name="offerPrice"
                                placeholder="Ex-2000" value="{{offer.offerPrice}}" required>
                        </div>
                        <div class="mb-3" style=" width: 100%; margin-left: 1px;">
                            <label for="example-number" class="form-label">Percent</label>
                            <input class="form-control" id="example-number" type="number" name="offerPercent"
                                placeholder="ex-30" value="{{offer.offerPercent}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current:-{{offer.expiresFrom}} to {{offer.expiresTo}}</label>
                        <input type="text" id="range-datepicker" class="form-control"
                            placeholder="Set empty for continue with old date" name="fromTo" >
                    </div>
                    <button type="submit" class="btn btn--md btn-pink waves-effect waves-light"><span><i
                                class="fa-solid fa-floppy-disk"></i></span> Save</button>
                </form>
                <!-- Preview -->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

<script>
    function displayImage() {
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');
        const file = fileInput.files[0];

        if (file) {
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = new Image();
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '300px'; // Adjust the maximum height as needed
                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(img);
                };

                reader.readAsDataURL(file);
            } else {
                alert('Please select an image file.');
                fileInput.value = ''; // Reset the file input
                imagePreview.innerHTML = ''; // Clear the image preview
            }
        }
    }
</script>