<!-- Start Content-->
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Banners Table</h4>
                    <a href="/admin/download-offer" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label"><i class="fa-solid fa-download"></i></span>Download
                    </a>
                    </p>

                    <!-- Assuming you have included the necessary layout and header/footer -->

                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Offer Name</th>
                                <th>Act</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each offerLeads}}
                            <tr>
                                <td>{{incrementedIndex @index}}</td>
                                <td>
                                    {{name}}
                                </td>
                                <td>{{email}}</td>
                                <td>{{phone}}</td>
                                <td>{{offerId.name}}</td>
                                <td>
                                    {{!-- delete button --}}
                                    <button type="button" class="btn btn-danger waves-effect waves-light"
                                        onclick="blockLead('{{_id}}')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="6">No Leads available.</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div><!-- end col-->
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

<script>
    function blockLead(leadId) {
        if (confirm("Are you sure you want to Remove this item?")) {
            // User clicked OK, perform the Remove action here
            $.ajax({
                url: '/admin/delete-lead/' + leadId, // Replace with your backend endpoint URL
                method: 'DELETE', // or 'POST', 'PUT', etc., depending on your backend
                success: function (response) {
                    console.log(response)
                    if (response.status) {
                        alert("Item Remove!");
                        location.reload()
                    } else {
                        alert("Item not found!");
                    }
                    // Handle success response from the server
                },
                error: function (error) {
                    alert("Error deleting item: " + error);
                    // Handle error response from the server
                }
            });
        } else {
            // User clicked Cancel, do nothing or handle accordingly
            alert("Item not deleted.");
        }
    }
</script>