<!-- Start Content-->
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Banners Table</h4>
                    <a href="/admin/download-offer" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label"><i class="fa-solid fa-download"></i></span>Download
                    </a>
                    </p>

                    <!-- Assuming you have included the necessary layout and header/footer -->

                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Offer Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each offerLeads}}
                            <tr>
                                <td>{{incrementedIndex @index}}</td>
                                <td>
                                    {{name}}
                                </td>
                                <td>{{email}}</td>
                                <td>{{phone}}</td>
                                <td>{{offerId.name}}</td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="6">No Leads available.</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div><!-- end col-->
        <!-- end col -->
    </div>
    <!-- end row -->
</div>