<html>

<head>
  <!-- set the encoding of your site -->
  <meta charset="utf-8" />
  <!-- set the viewport width and initial-scale on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- set the HandheldFriendly -->
  <meta name="HandheldFriendly" content="True" />
  <!-- set the description -->
  <meta name="description"
    content="Find the best study discounts on our platform and save money on your educational expenses. Explore a wide range of deals and offers for students." />

  <!-- set the Keyword -->
  <meta name="keywords"
    content="study discounts, student deals, educational discounts, learning discounts, student savings, education offers" />
  <meta name="author" content="superio digital solutions" />

  <title>Study discount</title>
  <!-- include the site stylesheet -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CPoppins:300,400,500,600,900%7CLily+Script+One"
    rel="stylesheet" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/font-awesome.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/bootstrap.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/plugins.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/icofont.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/style.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/colors.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/responsive.css" />
  <!-- include the site stylesheet -->
  <style class="color_css"></style>

  <link rel="shortcut icon" href="/logos/fav-icon.png" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J5FKX4EEEW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-J5FKX4EEEW');
  </script>

  <!-- Pixel Code for https://kidunotifier.com/ -->
  <script async src="https://kidunotifier.com/pixel/ko91rdm48bdtpuh0v532jw25ao76ru4r"></script>
  <!-- END Pixel Code -->
  <script id="ACXConnectScript" type="text/javascript"
    src="https://kidumailer.com/websites/64f8674ec04ec/connect.js"></script>

  <style>
    /* Style for the suggestion modal */
    #suggestion-modal {
      margin-top: 45px;
      display: none;
      background-color: #ffb300;
      border: 1px solid #ccc;
      max-height: 150px;
      overflow-y: auto;
      width: 560px;
      position: fixed;
      z-index: 20;
    }

    .suggestion-item {
      padding: 10px;
      cursor: pointer;
    }

    .suggestion-item:hover {
      background-color: #f2f2f2;
    }

    .suggestion-elem {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <!-- header of the page -->
    <header id="header">
      <!-- header top of the page -->
      {{!-- {{#if homePage}} --}}
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {{! <span class="txt">Welcome to Coupmy Save More With Our Deals</span> }}
              <ul class="align-left list-unstyled">
                <li><a href="/login"><i class="fa fa-unlock-alt"></i>
                    Login</a></li>
                <li><a href="/register"><i class="fa fa-user"></i>
                    Register</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{!-- {{/if}}? --}}
      <!-- header holder of the page -->
      <div class="header-holder container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo">
              <a href="/"><img src="/logos/study-discount.png" alt="logo" class="img-responsive"></a>
            </div>
            <div class="search-cart hidden-xs">
              <form action="/search" method="post" class="search-form" id="search-form">
                <fieldset>
                  {{!-- <select id="category-select">
                    <option value="">Select Category</option>
                    {{#each commonData.categories}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  </select> --}}
                  <input type="search" name="keyword" class="form-control" id="keyword-input" placeholder="Enter Keyword . . .">
                  <button type="submit" class="sub-btn"><i class="icon-search"></i></button>
                  <!-- Suggestion modal -->
                  <div id="suggestion-modal">
                    <div id="suggestion-list"></div>
                  </div>
                </fieldset>
              </form>
              <div id="search-results">
                <!-- Display search results here -->
              </div>
              <a href="#" class="cart"><i class="fa-solid fa-percent"></i><span class="num round">0</span></a>
            </div>
            <a href="#" class="nav-opener text-center pull-right hidden visible-xs"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>

      <!-- nav holder of the page -->
      <div class="nav-holder">
        <div class="container">
          <div class="row">
            <div class="col-xs-12" style="display: flex; justify-content: center;">
              <a href="#" class="nav-opener text-center hidden visible-sm"><i class="fa fa-bars"></i></a>
              <!-- nav of the page -->
              <nav id="nav">
                <ul class="list-unstyled">
                  {{#if homePage}}
                  <li class="active">
                    <a href="/">Home</a>
                  </li>
                  {{else}}
                  <li class="">
                    <a href="/">Home</a>
                  </li>
                  {{/if}}

                  {{#if aboutPage}}
                  <li class="active"><a href="/about">About</a></li>
                  {{else}}
                  <li><a href="/about">About</a></li>
                  {{/if}}

                  {{#if offerPage}}
                  <li class="active"><a href="/offers">Offers</a></li>
                  {{else}}
                  <li><a href="/offers">Offers</a></li>
                  {{/if}}

                  {{#if contactPage}}
                  <li class="active">
                    <a href="/contact">Contact</a>
                  </li>
                  {{else}}
                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                  {{/if}}

                  {{!-- <li><a href="/blog-updates">Updates</a></li> --}}
                  {{!-- <li><a href="/">Offers</a></li> --}}

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header of the page end -->
    {{{body}}}
    <!-- This is where the content from other views will be injected -->
    <span id="back-top" class="text-center md-round fa fa-angle-up"></span>
    <!-- loader of the page -->
    <div id="loader" class="loader-holder">
      <div class="block"><img src="/user/images/svg/bars.svg" width="60" alt="loader" /></div>
    </div>
    <!-- footer of the page -->
    <footer id="footer">
      <!-- footer holder of the page -->
      <div class="footer-holder container">
        <div class="row">
          <div class="col-xs-12">
            <div class="col1">
              <h3 class="text-uppercase">Contact</h3>
              <ul class="list-unstyled contact-list">
                <li>
                  <span class="icon icon-location"></span>
                  <address>Casagrante Bldg, Kaloor, Eranakulam, Kerala, India</address>

                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span class="tel"><a href="tel:+917907402599">+91 790 740 25 99</a>

                  </span>
                </li>
                <li>
                  <span class="icon icon-email"></span>
                  <span class="mail"><a href="mailto:mail@study.discount">mail@study.discount</a>
                </li>
              </ul>
            </div>
            <div class="col2">
              <h3 class="text-uppercase">Quick Links</h3>
              <ul class="list-unstyled f-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/offers">Offers</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- footer area of the page -->
      <div class="footer-area">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <p>© 2023 All rights reserved. Product by <a style="color: orange;" href="https://superiodigital.com/"
                  target="_blank"> Superio Digital Solutions</a></p>
            </div>
            <div class="col-xs-12 col-sm-7">
              <ul class="list-unstyled footer-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/offers">Offers</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer of the page end -->
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const categorySelect = document.getElementById("category-select");
      const keywordInput = document.getElementById("keyword-input");
      const searchResults = document.getElementById("search-results");
      const suggestionModal = document.getElementById("suggestion-modal");
      const suggestionList = document.getElementById("suggestion-list");

      // Function to fetch and display suggestions as the user types
      function fetchAndDisplaySuggestions(keyword) {
        // Define the URL for your server's endpoint that provides suggestions
        const url = `/getSuggestions?keyword=${encodeURIComponent(keyword)}`; // Replace with your actual endpoint URL

        // Make a GET request to fetch suggestions
        fetch(url)
          .then((response) => {
            if (!response.ok) {
              throw new Error(`Network response was not ok: ${response.status}`);
            }
            return response.json();
          })
          .then((suggestions) => {
            // Render suggestions in the modal
            suggestionList.innerHTML = "";
            suggestions.forEach((suggestion) => {
              const suggestionItem = document.createElement("div");
              suggestionItem.className = "suggestion-item";
              suggestionItem.innerHTML = `<a class="suggestion-elem" href="/offers-details/${suggestion.slug}">${suggestion.shortDescription}</a>`;
              suggestionList.appendChild(suggestionItem);
            });
            // Display the suggestion modal
            suggestionModal.style.display = "block";
          })
          .catch((error) => {
            console.error("Error fetching suggestions:", error);
          });
      }

      // Event listener for keyword input
      keywordInput.addEventListener("input", function () {
        const keyword = keywordInput.value.trim();

        if (keyword.length > 0) {
          fetchAndDisplaySuggestions(keyword);
        } else {
          suggestionModal.style.display = "none";
        }
      });

      // Function to render search results as HTML
      function renderResults(results) {
        let html = "<ul>";
        results.forEach((result) => {
          html += `<li>${result.name}: ${result.description}</li>`;
        });
        html += "</ul>";
        return html;
      }
    });
  </script>


  {{!--
  <script src="/user/scripts/main.js"></script> --}}
  <!-- include jQuery -->
  <script src="/user/js/jquery.js"></script>
  <!-- include jQuery -->
  <script src="/user/js/plugins.js"></script>
  <!-- include jQuery -->
  <script src="/user/js/jquery.main.js"></script>
  {{! <div id="style-changer" data-src="style-changer.html"></div> }}


  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/64f830fdb2d3e13950ee38ae/1h9knuoe4';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</body>

</html>