<html>

<head>
  <!-- set the encoding of your site -->
  <meta charset="utf-8" />
  <!-- set the viewport width and initial-scale on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- set the HandheldFriendly -->
  <meta name="HandheldFriendly" content="True" />
  <!-- set the description -->
  <meta name="description"
    content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template" />
  <!-- set the Keyword -->
  <meta name="keywords" content="" />
  <meta name="author" content="Coupmy-Coupons, Affiliates, Offers, Deals, Discounts &amp; Marketplace HTML Template" />
  <title>Study discount</title>
  <!-- include the site stylesheet -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CPoppins:300,400,500,600,900%7CLily+Script+One"
    rel="stylesheet" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/font-awesome.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/bootstrap.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/plugins.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/icofont.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/style.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/colors.css" />
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/user/css/responsive.css" />
  <!-- include the site stylesheet -->
  <style class="color_css"></style>

  <link rel="shortcut icon" href="/logos/fav-icon.png" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="wrapper">
    <!-- header of the page -->
    <header id="header">
      <!-- header top of the page -->
      {{#if homePage}}
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              {{! <span class="txt">Welcome to Coupmy Save More With Our Deals</span> }}
              <ul class="align-left list-unstyled">
                <li><a href="/login"><i class="fa fa-unlock-alt"></i>
                    Login</a></li>
                <li><a href="/register"><i class="fa fa-user"></i>
                    Register</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      <!-- header holder of the page -->
      <div class="header-holder container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo">
              <a href="/"><img src="/logos/study-discount.png" alt="logo" class="img-responsive"></a>
            </div>
            <div class="search-cart hidden-xs">
              <form action="#" class="search-form">
                <fieldset>
                  <select>
                    <option value="0">Select Category</option>
                    {{!-- <option value="1">Select Category</option>
                    <option value="2">Select Category</option> --}}
                  </select>
                  <input type="search" class="form-control" placeholder="Enter Keyword . . .">
                  <button type="submit" class="sub-btn"><i class="icon-search"></i></button>
                </fieldset>
              </form>
              <a href="#" class="cart"><i class="fa-solid fa-percent"></i><span class="num round">0</span></a>
            </div>
            <a href="#" class="nav-opener text-center pull-right hidden visible-xs"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
      <!-- nav holder of the page -->
      <div class="nav-holder">
        <div class="container">
          <div class="row">
            <div class="col-xs-12" style="display: flex; justify-content: center;">
              <a href="#" class="nav-opener text-center hidden visible-sm"><i class="fa fa-bars"></i></a>
              <!-- nav of the page -->
              <nav id="nav">
                <ul class="list-unstyled">
                  {{#if homePage}}
                  <li class="active">
                    <a href="/">Home</a>
                  </li>
                  {{else}}
                  <li class="">
                    <a href="/">Home</a>
                  </li>
                  {{/if}}
                  {{#if aboutPage}}
                  <li class="active"><a href="/about">About Us</a></li>
                  {{else}}
                  <li><a href="/about">About Us</a></li>
                  {{/if}}

                  {{#if offerPage}}
                  <li class="active"><a href="/offers">Offers</a></li>
                  {{else}}
                  <li><a href="/offers">Offers</a></li>
                  {{/if}}

                  {{#if contactPage}}
                  <li class="active">
                    <a href="/contact">Contact Us</a>
                  </li>
                  {{else}}
                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                  {{/if}}


                  {{!-- <li><a href="/blog-updates">Updates</a></li> --}}
                  {{!-- <li><a href="/">Offers</a></li> --}}

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header of the page end -->
    {{{body}}}
    <!-- This is where the content from other views will be injected -->
    <span id="back-top" class="text-center md-round fa fa-angle-up"></span>
    <!-- loader of the page -->
    <div id="loader" class="loader-holder">
      <div class="block"><img src="/user/images/svg/bars.svg" width="60" alt="loader" /></div>
    </div>
    <!-- footer of the page -->
    <footer id="footer">
      <!-- footer holder of the page -->
      <div class="footer-holder container">
        <div class="row">
          <div class="col-xs-12">
            <div class="col1">
              <h3 class="text-uppercase">Contact Coupmy</h3>
              <ul class="list-unstyled contact-list">
                <li>
                  <span class="icon icon-location"></span>
                  <address>824 Bel Meadow Drive, California, USA</address>
                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span class="tel"><a href="tel:112345678520">(+11) 234 567
                      8520</a><a href="tel:112345678520">(+11) 234 567 8520</a></span>
                </li>
                <li>
                  <span class="icon icon-email"></span>
                  <span class="mail"><a href="mailto:Info@Coupmy.Com">Info@Coupmy.Com</a><a
                      href="mailto:Mail@Coupmy.Com">Mail@Coupmy.Com</a></span>
                </li>
              </ul>
            </div>
            <div class="col2">
              <h3 class="text-uppercase">Quick Links</h3>
              <ul class="list-unstyled f-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/offers">Offers</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- footer area of the page -->
      <div class="footer-area">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <p>© 2023 All rights reserved. Created by <a style="color: orangered;" href="https://superiodigital.com/"
                  target="_blank"><i class="fa-solid fa-heart"></i> Supes</a></p>
            </div>
            <div class="col-xs-12 col-sm-7">
              <ul class="list-unstyled footer-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/offers">Offers</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer of the page end -->
  </div>
  {{!--
  <script src="/user/scripts/main.js"></script> --}}
  <!-- include jQuery -->
  <script src="/user/js/jquery.js"></script>
  <!-- include jQuery -->
  <script src="/user/js/plugins.js"></script>
  <!-- include jQuery -->
  <script src="/user/js/jquery.main.js"></script>
  {{! <div id="style-changer" data-src="style-changer.html"></div> }}
</body>

</html>