<main id="main">
    <section class="banner banner3 bg-full overlay"
        style="background-image: url(/main-images/study-discount-about-us.png);">
        <div class="holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="" style="color: #ffb300;">Study Discount</h2>
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="containerDiv">
        {{!-- <h1>Frequently Asked Questions</h1> --}}
        <div style="display: flex;justify-content: center;">
            {{#if studyDiscount}}
            <a href="/faq-study-discount" class="btn text-center text-uppercase"
                style="margin-left: 2px;background-color: ffb300;">Study
                Discount</a>
            {{else}}
            <a href="/faq-study-discount" class="btn text-center text-uppercase"
                style="margin-left: 2px; background-color: black; color: white;">Study
                Discount</a>
            {{/if}}

            {{#if studyAbroad}}
            <a href="/faq-study-abroad" class="btn text-center text-uppercase"
                style="margin-left: 2px;background-color: ffb300;">Study
                Abroad</a>
            {{else}}
            <a href="/faq-study-abroad" class="btn text-center text-uppercase"
                style="margin-left: 2px; background-color: black; color: white;">Study
                Abroad</a>
            {{/if}}
.
        </div>
        <div class="accordion">
            {{#each faqs}}
            <div class="accordion-item">
                <button id="accordion-button-{{incrementedIndex @index}}" aria-expanded="false"><span
                        class="accordion-title">{{question}}</span><span class="icon"
                        aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>{{answer}}</p>
                </div>
            </div>
            {{else}}
            <div style="margin-top: 5px;">No FAQs</div>
            {{/each}}
        </div>
    </div>
</main>

<style>
    @import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

    /* Define variables as custom properties */
    :root {
        --bg: #fff;
        --text: #7288a2;
        --gray: #4d5974;
        --lightgray: #e5e5e5;
        --yellow: #ffb300;
    }

    .containerDiv {
        margin: 100px 100px 100px 100px;
    }

    .containerDiv {
        margin: 100px;
    }

    @media (max-width: 768px) {
        .containerDiv {
            margin: 25px;
        }
    }


    /* Accordion styles */
    .accordion .accordion-item {
        border-bottom: 1px solid var(--lightgray);
    }

    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: var(--text);
        font-size: 2.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
    }

    .accordion button:hover,
    .accordion button:focus {
        cursor: pointer;
        color: var(--yellow);
    }

    .accordion button:hover::after,
    .accordion button:focus::after {
        cursor: pointer;
        color: var(--yellow);
        border: 1px solid var(--yellow);
    }

    .accordion .accordion-title {
        padding: 1em 1.5em 1em 0;
    }

    .accordion .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
    }

    .accordion .icon::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }

    .accordion .icon::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }

    .accordion button[aria-expanded='true'] {
        color: var(--yellow);
    }

    .accordion button[aria-expanded='true'] .icon::after {
        width: 0;
    }

    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
    }

    .accordion .accordion-content p { 
        font-size: 2rem;
        font-weight: 300;
    }

    .accordion button[aria-expanded='true']+.accordion-content {
        opacity: 1;
        max-height: 60em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
    }
</style>

<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>