<!-- main of the page -->
<main id="main">
  <!-- banner of the page -->
  {{#if randomBanner}}
  <section class="banner bg-full overlay-home" style="background-image: url(/uploads/{{randomBanner.filePath}});">
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 text-left">
            <h1 class="">
              {{randomBanner.description}}
            </h1>
            <div class="text-left">
              <a href="{{randomBanner.url}}" class="btn-primary text-center md-round" style="">Apply for this offer
                <span><i class="fa-solid fa-arrow-right-long"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{else}}
  <section class="banner bg-full overlay-home">
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 text-left">
            <h1 class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam optio,
            </h1>
            <div class="text-left">
              <a href="#" class="btn-primary text-center text-uppercase md-round">Apply for this offer
                <span><i class="fa-solid fa-arrow-right-long"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/if}}

  <!-- latest coupon of the page -->
  <section class="latest-coupon container pad-top-lg pad-bottom-md">
    <div class="row">
      <header class="col-xs-12 text-center header">
        <h2 class="heading">Featured Offers!</h2>
        <p>These are the new offers. Click to learn more and register.</p>
      </header>
    </div>
    <div class="row">
      {{#if offers}}
      {{#each offers}}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="coupon-box mar-bottom-xs">
          <div class="img-holder">
            <a href="/offers-details/{{slug}}" title="{{shortDescription}}"><img src="/uploads/{{offerImage}}"
                alt="{{shortDescription}}" class="img-resposnive" />
            </a>
          </div>
          <div class="txt-holder">
            <h3 class="heading6" style="">
              <a href="/offers-details/{{slug}}" title="{{shortDescription}}"
                id="description-link-{{_id}}">{{shortDescription}}</a>
            </h3>
            <a href="/offers-details/{{slug}}" class="btn-primary md-round text-center text-uppercase mt-5">Get
              Offer</a>
            <time class="time text-center" datetime="{{expiresFrom}}">Expires On: {{expiresTo}}</time>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3 style="Font">No offer found</h3>
      </div>
      {{/if}}
    </div>
  </section>
  <!-- call out sec of the page -->
  <section class="callout-sec pad-top-sm pad-bottom-sm">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-offset-1">
          <h3>Want To Known About <strong>Study Discount!</strong></h3>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="/about" class="btn-primary text-center text-uppercase md-round">About us</a>
        </div>
      </div>
    </div>
  </section>
  {{#if offers}}
  <!-- offer sec of the page -->
  <section class="offer-sec container pad-top-lg pad-bottom-md" style="margin-bottom: 50px;">
    <div class="row">
      <header class="col-xs-12 text-center header">
        <h2 class="heading">View more offers!</h2>
        <ul class="list-unstyled filter-list">
          {{#each filteredCategory}}
          <li class=""><a href="#" data-filter=".{{_id}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </header>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!-- offer holder of the page -->
        <div class="offer-holder">
          {{#each offers}}
          <!-- col of the page -->
          <div class="col mar-bottom-xs {{category}}">
            <div class="header">
              <div class="off-img-holder" style="position: relative;">
                <a href="/offers-details/{{slug}}">
                  <img src="/uploads/{{offerImage}}" alt="{{name}}" title="{{shortDescription}}" class="img-responsive">
                  {{#if offerPercent}}
                  <span class="offer" style="position: absolute; top: 0; right: 0;">{{offerPercent}}% Off</span>
                  {{/if}}
                </a>
              </div>
            </div>
            <div style="padding: 12px 15px;">
              <strong class="heading6">{{shortDescription}}</strong>
              <span class="sub-title"><i class="fa-solid fa-user-check"></i> {{registrations}}</span>
              <div class="text-center">
                <a href="/offers-details/{{slug}}" class="btn-primary text-center text-uppercase md-round">View
                  offer<span class="code">Go <i class="fa-solid fa-arrow-right"></i></span></a>
                <time class="time" datetime="2017-02-03 20:00">Expires On : {{expiresTo}}</time>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
  {{/if}}

  <!-- store sec of the page -->
  <section class="store-sec bg-grey pad-top-lg pad-bottom-lg">
    <div class="container">
      <div class="row">
        <header class="col-xs-12 text-center header">
          <h3 class="heading">Our Partners!</h3>
          <p>All of these are partners of Study Discount. Click and explore!</p>
        </header>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-unstyled store-logo">
            {{#each commonData.categories}}
            <li><a href="{{url}}" target="_blank"><img src="/uploads/{{logo}}" alt="{{name}}" title="{{name}}"
                  class="img-responsive"></a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe-sec bg-full" style="background-image: url(/user//user/images/img20.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
          <h5>Subscribe To Our Newsletter</h5>
        </div>
        <div class="col-xs-12 col-sm-6">
          <form action="#" class="subscribe-form">
            <fieldset>
              <input type="email" class="form-control" placeholder="Email Address" />
              <button type="submit" class="sub-btn"><i class="icon-airoplane"></i></button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main of the page end -->


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var links = document.querySelectorAll('[id^="description-link-"]');
    var limit = 80;

    links.forEach(function (link) {
      var text = link.textContent;

      if (text.length > limit) {
        link.textContent = text.slice(0, limit) + "...";
      }
    });
  });
</script>