<!-- main of the page -->
<main id="main">
	<!-- banner of the page -->
	<section class="banner banner3 bg-full overlay"
		style="background-image: url(/main-images/study-discount-about-us.jpg);">
		<div class="holder">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						 <h2 class="" style="color: #ffb300;">Study Discount</h2>
						<h1>Offers</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- offer sec of the page -->
	<!-- latest coupon of the page -->
	<section class="latest-coupon container pad-top-lg pad-bottom-md">
		<div class="row">
			<header class="col-xs-12 text-center header">
				<h2 class="heading">Latest Offers</h2>
			</header>
		</div>
		<div class="row">
			{{#if offers}}
			{{#each offers}}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="coupon-box mar-bottom-xs">
					<div class="img-holder">
						<a href="/offers-details/{{slug}}" title="{{shortDescription}}"><img
								src="/uploads/{{offerImage}}" alt="{{shortDescription}}" class="img-resposnive" /></a>
					</div>
					<div class="txt-holder">
						<h3 class="heading6" style="">
							<a href="/offers-details/{{slug}}" title="{{shortDescription}}"
								id="description-link-{{_id}}">{{shortDescription}}</a>
						</h3>
						<a href="/offers-details/{{slug}}"
							class="btn-primary md-round text-center text-uppercase mt-5">Get Offer</a>
						<time class="time text-center" datetime="{{expiresFrom}}">Expires On: {{expiresTo}}</time>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3 style="Font">No offer fount</h3>
			</div>
			{{/if}}
		</div>
		{{!-- <div class="row">
			<div class="col-xs-12">
				<!-- pagination of the page -->
				<ul class="list-unstyled pagination">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>
			</div>
		</div> --}}
	</section>


</main>
<!-- main of the page end -->

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var links = document.querySelectorAll('[id^="description-link-"]');
		var limit = 80;

		links.forEach(function (link) {
			var text = link.textContent;

			if (text.length > limit) {
				link.textContent = text.slice(0, limit) + "...";
			}
		});
	});
</script>