<!-- main of the page -->
<main id="main">
	<!-- banner of the page -->
	<section class="banner banner3 bg-full overlay"
		style="background-image: url(/main-images/study-discount-about-us.png);">
		<div class="holder">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h2 class="" style="color: #ffb300;">Study Discount</h2>
						<h1>Offers</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- offer sec of the page -->
	<!-- latest coupon of the page -->
	<section class="latest-coupon container pad-top-lg pad-bottom-md">
		<div class="row">
			<header class="col-xs-12 text-center header">
				<h2 class="heading">Featured Offers!</h2>
				<p>These are the new offers. Click to learn more and register.</p>
			</header>
		</div>
		<div class="row">
			{{#if featuredOffers}}
			{{#each featuredOffers}}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="coupon-box mar-bottom-xs">
					<div class="img-holder">
						<a href="/offers-details/{{slug}}" title="{{shortDescription}}"><img
								src="/uploads/{{offerImage}}" alt="{{shortDescription}}" class="img-resposnive" />
							{{#if offerPercent}}
							<span class="offerSpanStyle"
								style="position: absolute; top: 0; right: 16px;">{{offerPercent}} Off</span>
							{{/if}}
						</a>
					</div>
					<div class="txt-holder">
						<h3 class="heading6" style="">
							<a href="/offers-details/{{slug}}" title="{{shortDescription}}"
								id="description-link-{{_id}}">{{shortDescription}}</a>
						</h3>
						<a href="/offers-details/{{slug}}"
							class="btn-primary md-round text-center text-uppercase mt-5">Get
							Offer</a>
						<time class="time text-center" datetime="{{expiresFrom}}">Expires On: {{expiresTo}}</time>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h3 style="Font">No offer found</h3>
			</div>
			{{/if}}
		</div>
		{{!-- <div class="row">
			<div class="col-xs-12">
				<!-- pagination of the page -->
				<ul class="list-unstyled pagination">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>
			</div>
		</div> --}}
	</section>

	{{#if offers}}
	<!-- offer sec of the page -->
	<section class="offer-sec container pad-bottom-md" style="margin-bottom: 50px;">
		<div class="row">
			<header class="col-xs-12 text-center header">
				<h2 class="heading">View more!</h2>
				<ul class="list-unstyled filter-list">
					{{#each filteredCategory}}
					<li class=""><a href="#" data-filter=".{{_id}}">{{name}}</a></li>
					{{/each}}
				</ul>
			</header>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<!-- offer holder of the page -->
				<div class="offer-holder">
					{{#each offers}}
					<!-- col of the page -->
					<div class="col mar-bottom-xs {{category}}">
						<div class="header">
							<div class="off-img-holder" style="position: relative;">
								<a href="/offers-details/{{slug}}">
									<img src="/uploads/{{offerImage}}" alt="{{name}}" title="{{shortDescription}}"
										class="img-responsive">
									{{#if offerPercent}}
									<span class="offer" style="position: absolute; top: 0; right: 0;">{{offerPercent}}
										Off</span>
									{{/if}}
								</a>
							</div>
						</div>
						<div style="padding: 12px 15px;">
							<strong class="heading6" id="description-cat-link-{{_id}}">{{shortDescription}}</strong>
							<span class="sub-title"><i class="fa-solid fa-user-check"></i> {{registrations}}</span>
							<div class="text-center">
								<a href="/offers-details/{{slug}}"
									class="btn-primary text-center text-uppercase md-round">Know More<span class="code">Go <i class="fa-solid fa-arrow-right"></i></span></a>
								<time class="time" datetime="2017-02-03 20:00">Expires On : {{expiresTo}}</time>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</section>
	{{/if}}


</main>
<!-- main of the page end -->

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var links = document.querySelectorAll('[id^="description-link-"]');
		var limit = 80;

		links.forEach(function (link) {
			var text = link.textContent;

			if (text.length > limit) {
				link.textContent = text.slice(0, limit) + "...";
			}
		});
	});
</script>

<style>
	.offerSpanStyle {
		font-size: 20px;
		line-height: 18px;
		color: #333333;
		background-color: #fff4a4;
		padding: 9px 25px 7px;
		float: right;
		text-align: center;
		margin: 18px 0 0;
		font-weight: 800;
		border: 1px solid #c6c6c6;
		-webkit-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
</style>