<!-- main of the page -->
<main id="main">
	<!-- banner of the page -->
	<section class="banner banner3 bg-full overlay" style="background-image: url(/user/images/img30.jpg);">
		<div class="holder">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1>Offers</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- offer sec of the page -->
	<!-- latest coupon of the page -->
	<section class="latest-coupon container pad-top-lg pad-bottom-md">
		<div class="row">
			<header class="col-xs-12 text-center header">
				<h2 class="heading">Latest Offers</h2>
			</header>
		</div>
		<div class="row">
			{{#if offers}}
			{{#each offers}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="coupon-box mar-bottom-xs">
					<div class="img-holder">
						<img src="/uploads/{{offerImage}}" alt="image description" class="img-resposnive" />
					</div>
					<div class="txt-holder">
						<h3 class="heading6" style="">
							<a href="/offers-details/{{_id}}">{{shortDescription}}</a>
						</h3>
						<ul class="list-unstyled list-show">
							<li><a href="#"><i class="icon icon-smile"></i> Verified</a></li>
							<li><a href="#"><i class="icon icon-user"></i> Used</a></li>
						</ul>
						<a href="/offers-details/{{_id}}" class="btn-primary md-round text-center text-uppercase">Get
							Offer</a>
						<time class="time text-center" datetime="{{expiresFrom}}">Expires On: {{expiresTo}}</time>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="coupon-box mar-bottom-xs">
					<div class="img-holder">
						<img src="/offer_posters/demo_size_for_offer_poster.png" alt="image description"
							class="img-resposnive" />
					</div>
					<div class="txt-holder">
						<h3 class="heading6" style="">
							<a href="#">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
						</h3>
						<ul class="list-unstyled list-show">
							<li><a href="#"><i class="icon icon-smile"></i> Verified</a></li>
							<li><a href="#"><i class="icon icon-user"></i> Used</a></li>
						</ul>
						<a href="#" class="btn-primary md-round text-center text-uppercase">Get Offer</a>
						<time class="time text-center" datetime="0000-00-00">Expires On: 0000-00-00</time>
					</div>
				</div>
			</div>
			{{/if}}

		</div>
		{{!-- <div class="row">
			<div class="col-xs-12">
				<!-- pagination of the page -->
				<ul class="list-unstyled pagination">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>
			</div>
		</div> --}}
	</section>


</main>
<!-- main of the page end -->